<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Smce\Components\Collection | Smceframework2 - SF2 API</title>

            <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/sami.css">
        <script src="../../js/jquery-1.11.1.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/typeahead.min.js"></script>
        <script src="../../sami.js"></script>
    
    
    </head>

    <body id="class" data-name="class:Smce_Components_Collection" data-root-path="../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../index.html">Smceframework2 - SF2 API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../classes.html">Classes</a></li>
                                            <li><a href="../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../traits.html">Traits</a></li>
                    <li><a href="../../doc-index.html">Index</a></li>
                    <li><a href="../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../Smce.html">Smce</a></li>
                                        <li><a href="../../Smce/Components.html">Components</a></li>
    
                <li>Collection</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>Collection</h1>
    </div>

    <p>    class
    <strong>Collection</strong></p>

    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method___construct">__construct</a>(array $items = array())
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Smce\Components\this">this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_each">each</a>(<abbr title="Smce\Components\Closure">Closure</abbr> $callback)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_map">map</a>(<abbr title="Smce\Components\Closure">Closure</abbr> $callback)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_filter">filter</a>(<abbr title="Smce\Components\Closure">Closure</abbr> $callback)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_pull">pull</a>(string $key, mixed $dt = null)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Smce\Components\array_pop">array_pop</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_pop">pop</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_diff">diff</a>(array $items)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Smce\Components\items">items</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getAll">getAll</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Smce\Components\value">value</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_get">get</a>(string $key, mixed $dt = null)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_flip">flip</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Smce\Components\has">has</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_has">has</a>(string $key)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isEmpty">isEmpty</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_keys">keys</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_lists">lists</a>(string $listsvalue, string $listskey = null)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_merge">merge</a>(array $items)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Smce\Components\last">last</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_last">last</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8 type">
                    <a href="#method_offsetExists">offsetExists</a>(string $key)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_prepend">prepend</a>(mixed $value)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8 type">
                    <a href="#method_reduce">reduce</a>(callable $callback, mixed $initial = null)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_reverse">reverse</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8 type">
                    <a href="#method_search">search</a>(mixed $value, bool $strict = false)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed|null
                </div>
                <div class="col-md-8 type">
                    <a href="#method_shift">shift</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Smce\Components\this">this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_sort">sort</a>(<abbr title="Smce\Components\Closure">Closure</abbr> $callback)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_splice">splice</a>(int $offset, int $length, mixed $replacement = array())
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Smce\Components\this">this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_transform">transform</a>(<abbr title="Smce\Components\Closure">Closure</abbr> $callback)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_values">values</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_unique">unique</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Smce\Components\this">this</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_shuffle">shuffle</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    int
                </div>
                <div class="col-md-8 type">
                    <a href="#method_count">count</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_push">push</a>(mixed $value)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_offsetSet">offsetSet</a>(mixed $key, mixed $value)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location">at line 18</div>
        <code>                    void
    <strong>__construct</strong>(array $items = array())</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$items</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_each">
        <div class="location">at line 27</div>
        <code>                    <abbr title="Smce\Components\this">this</abbr>
    <strong>each</strong>(<abbr title="Smce\Components\Closure">Closure</abbr> $callback)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Smce\Components\Closure">Closure</abbr></td>
                <td>$callback</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Smce\Components\this">this</abbr></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_map">
        <div class="location">at line 37</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>map</strong>(<abbr title="Smce\Components\Closure">Closure</abbr> $callback)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Smce\Components\Closure">Closure</abbr></td>
                <td>$callback</td>
                <td>callback</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_filter">
        <div class="location">at line 48</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>filter</strong>(<abbr title="Smce\Components\Closure">Closure</abbr> $callback)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Smce\Components\Closure">Closure</abbr></td>
                <td>$callback</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_pull">
        <div class="location">at line 59</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>pull</strong>(string $key, mixed $dt = null)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$key</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$dt</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_pop">
        <div class="location">at line 67</div>
        <code>                    <abbr title="Smce\Components\array_pop">array_pop</abbr>
    <strong>pop</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Smce\Components\array_pop">array_pop</abbr></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_diff">
        <div class="location">at line 75</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>diff</strong>(array $items)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$items</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getAll">
        <div class="location">at line 83</div>
        <code>                    <abbr title="Smce\Components\items">items</abbr>
    <strong>getAll</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Smce\Components\items">items</abbr></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_get">
        <div class="location">at line 95</div>
        <code>                    <abbr title="Smce\Components\value">value</abbr>
    <strong>get</strong>(string $key, mixed $dt = null)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$key</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$dt</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Smce\Components\value">value</abbr></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_flip">
        <div class="location">at line 103</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>flip</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_has">
        <div class="location">at line 112</div>
        <code>                    <abbr title="Smce\Components\has">has</abbr>
    <strong>has</strong>(string $key)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$key</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Smce\Components\has">has</abbr></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isEmpty">
        <div class="location">at line 119</div>
        <code>                    bool
    <strong>isEmpty</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_keys">
        <div class="location">at line 127</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>keys</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_lists">
        <div class="location">at line 136</div>
        <code>                    array
    <strong>lists</strong>(string $listsvalue, string $listskey = null)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$listsvalue</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$listskey</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_merge">
        <div class="location">at line 144</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>merge</strong>(array $items)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$items</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_last">
        <div class="location">at line 151</div>
        <code>                    <abbr title="Smce\Components\last">last</abbr>
    <strong>last</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Smce\Components\last">last</abbr></td>
            <td>value</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_offsetExists">
        <div class="location">at line 159</div>
        <code>                    bool
    <strong>offsetExists</strong>(string $key)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$key</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_prepend">
        <div class="location">at line 166</div>
        <code>                    void
    <strong>prepend</strong>(mixed $value)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_reduce">
        <div class="location">at line 175</div>
        <code>                    mixed
    <strong>reduce</strong>(callable $callback, mixed $initial = null)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>callable</td>
                <td>$callback</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$initial</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_reverse">
        <div class="location">at line 183</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>reverse</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_search">
        <div class="location">at line 193</div>
        <code>                    mixed
    <strong>search</strong>(mixed $value, bool $strict = false)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$strict</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_shift">
        <div class="location">at line 201</div>
        <code>                    mixed|null
    <strong>shift</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed|null</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_sort">
        <div class="location">at line 210</div>
        <code>                    <abbr title="Smce\Components\this">this</abbr>
    <strong>sort</strong>(<abbr title="Smce\Components\Closure">Closure</abbr> $callback)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Smce\Components\Closure">Closure</abbr></td>
                <td>$callback</td>
                <td>callback</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Smce\Components\this">this</abbr></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_splice">
        <div class="location">at line 220</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>splice</strong>(int $offset, int $length, mixed $replacement = array())</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>int</td>
                <td>$offset</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>int</td>
                <td>$length</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$replacement</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_transform">
        <div class="location">at line 229</div>
        <code>                    <abbr title="Smce\Components\this">this</abbr>
    <strong>transform</strong>(<abbr title="Smce\Components\Closure">Closure</abbr> $callback)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Smce\Components\Closure">Closure</abbr></td>
                <td>$callback</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Smce\Components\this">this</abbr></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_values">
        <div class="location">at line 237</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>values</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_unique">
        <div class="location">at line 245</div>
        <code>                    <a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a>
    <strong>unique</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../Smce/Components/Collection.html"><abbr title="Smce\Components\Collection">Collection</abbr></a></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_shuffle">
        <div class="location">at line 253</div>
        <code>                    <abbr title="Smce\Components\this">this</abbr>
    <strong>shuffle</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Smce\Components\this">this</abbr></td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_count">
        <div class="location">at line 262</div>
        <code>                    int
    <strong>count</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>int</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_push">
        <div class="location">at line 271</div>
        <code>                    void
    <strong>push</strong>(mixed $value)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_offsetSet">
        <div class="location">at line 280</div>
        <code>                    void
    <strong>offsetSet</strong>(mixed $key, mixed $value)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$key</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
